<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.lehrbaum.tworooms" >

    <uses-sdk android:minSdkVersion="16" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".view.SetListActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.SetDetailActivity"
            android:label="@string/title_set_detail"
            android:parentActivityName=".view.SetListActivity" >
        </activity>
        <activity
            android:name=".view.CreateSetActivity"
            android:label="@string/title_activity_create_set"
            android:parentActivityName=".view.SetListActivity" >
        </activity>

        <activity
            android:name=".view.ChooseRoleActivity"
            android:label="@string/title_activity_choose_role"
            android:parentActivityName=".view.ChooseRoleActivity" >
        </activity>

        <activity
            android:name=".view.AppPreferenceActivity"
            android:label="@string/title_activity_settings" >
        </activity>

        <provider
            android:name=".io.DatabaseContentProvider"
            android:authorities="@string/account_authority"
            android:enabled="true"
            android:exported="false"
            android:syncable="true" >
        </provider>

        <service android:name=".io.AuthenticatorService" >
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <service
            android:name=".io.SyncService"
            android:exported="true"
            android:process=":sync" >
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>

        <activity
            android:name=".view.RoleListActivity"
            android:label="@string/title_activity_role_list"
            android:parentActivityName=".view.SetListActivity" >
        </activity>
    </application>

</manifest>
